# Threshold Settings
CPU_CAUTION_TEMP: 70
GPU_CAUTION_TEMP: 70
RAM_CAUTION_TEMP: 50
CPU_DANGER_TEMP: 85
GPU_DANGER_TEMP: 85
RAM_DANGER_TEMP: 60
DISKOPS_CAUTION: 120
MAX_CPU_MHZ: 5500
NETOPS_CAUTION: 350
UTILIZATION_CAUTION: 95
# Data Sampling Settings
NUM_SAMPLES: 30
POLL_INTERVAL_MS: 3000
UTIL_SAMPLES: 10
SYSTEM_FANS_ENABLED:
  - 1
  - 2
  - 3
  - 4
# UI Settings
HEIGHT: 400 # 0 = full screen
WIDTH: 600 # 0 = full screen
X_LOCATION: 0
Y_LOCATION: 0
ROW_HEIGHT: 20
ALWAYS_ON_TOP: false
#Libre Hardware Web Server Settings
REMOTE_SERVER: 192.168.10.253
REMOTE_PORT: 8085
# Plex Settings
PLEX_ENABLED: false
PLEX_ACCOUNT: plex_user
PLEX_SERVER: http://192.168.10.253:32400
PLEX_TOKEN: xxxxxxx
# Web Server Settings
WEB_SERVER_ENABLED: false
WEB_SERVERS:
  - url: https://www.charlesherring.com
    response_code: 200
    name: Fishrules
    response_threshold: 1.0
# Weather Settings
WEATHER_ENABLED: false
WEATHER_ZIP_CODE: 60126
WEATHER_API_KEY: xxxxxxxxxxxxxxxxxx #weatherapi.com
WEATHER_PRECIPITATION_WARNING: 50
WEATHER_HIGH_TEMP_WARNING: 80
WEATHER_LOW_TEMP_WARNING: 30